<!-- vote.html -->
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>Polls</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      {% if question %}
        <h1>{{ question.question_text }}</h1>

        <!-- 如果有错误消息，则显示 -->
        {% if error_message %}
          <p>
            <strong>{{ error_message }}</strong>
          </p>
        {% endif %}

        <!-- 如果投票结果为空，则显示投票表单 -->
        {% if not question.choice_set.all %}
          <p>No choices available.</p>
        {% else %}
          <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
              <div class="choice-card">
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
              </div>
            {% endfor %}
            <input type="submit" value="Vote" />
          </form>
        {% endif %}

        {% comment %}在表单中，有一个带有 `type="radio"` 的 `<input />` 元素，它是一个单选按钮。这意味着用户只能选择其中的一个选项。该单选按钮的 `name` 属性设置为 "choice"，这是为了在提交表单时标识这个选项。此外，每个单选按钮都有一个 `value` 属性，其中包含与该选项相关联的唯一标识符（在这里是选项的ID）。

        当用户选择其中一个单选按钮并提交表单时，提交的值将是所选选项的ID。在这个例子中，当用户选择了某个选项，比如ID为1的选项，那么提交的值将会是1。如果用户选择了ID为2的选项，那么提交的值将会是2，以此类推。因此，`{{ choice.id }}` 是提交给服务器的值，它对应于用户所选择的选项的ID。{% endcomment %}

        {% comment %}如果用户没有选择任何选项，也就是没有选择任何单选按钮，那么在提交表单时，将不会提交任何关于选项的信息。这意味着在 POST 请求中不会包含名为 "choice" 的键值对。

        在这种情况下，视图函数中的代码将捕获到 KeyError 异常，因为在 `request.POST` 字典中将找不到名为 "choice" 的键。这样，视图函数将会返回一个包含错误消息的响应，提示用户需要选择一个选项才能进行投票。{% endcomment %}

        <!-- 如果已有投票结果，则显示结果 -->
        {% if question.choice_set.all %}
          <div class="result-section">
            <h2>Results</h2>
            <ul>
              {% for choice in question.choice_set.all %}
                <li>
                  <div class="bar-container">
                    <span class="choice-text">{{ choice.choice_text }}</span>
                    <div class="bar" style="--choice-votes: {{ choice.votes }}%;"></div>
                  </div>
                  <span class="vote-count">{{ choice.votes }} vote{{ choice.votes|pluralize }}</span>
                </li>
              {% endfor %}
            </ul>
            <div class="button-container">
              <a href="{% url 'polls:index' %}" class="home-button">Return Home</a>
            </div>
          </div>
        {% endif %}
        {% comment %} {% endcomment %}
        {% comment %} {% endcomment %}

        {% comment %} {% endcomment %}
      {% else %}
        <h1>Questions</h1>
        {% if latest_question_list %}
          <ul>
            {% for question in latest_question_list %}
              <div class="card">
                <div class="question">
                  <div class="question-text">
                    <li>
                      <a href="{% url 'polls:detail' question.id %}"><span class="icon"></span>{{ question.question_text }}</a>
                    </li>
                  </div>
                </div>
              </div>
            {% endfor %}
          </ul>
        {% else %}
          <p class="no-polls">No polls are available.</p>
        {% endif %}
      {% endif %}
    </div>
  </body>
</html>
