<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>Polls - Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Polls - Home</h1>
      {% if latest_question_list %}
        {% for question in latest_question_list %}
          <div class="card">
            <div class="question">
              <div class="question-text">
                <li>
                  <a href="{% url 'polls:detail' question.id %}"><span class="icon"></span>{{ question.question_text }}</a>
                </li>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-polls">No polls are available.</p>
      {% endif %}
    </div>
  </body>
</html>

{% comment %} <div class="question-icon">Q</div> {% endcomment %}
{% comment %} <div class="question-icon">
  <img src="{% static 'polls/image/letter-q.png' %}" alt="Q Icon" width="40pt" height="40pt" />
</div> {% endcomment %}

{% comment %} <div class="question-text">
  <li>
    <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
  </li>
</div> {% endcomment %}
